@{
    ViewBag.Title = "Изменение пароля";
}

<div class="text-success">
    <h3>Пароль был успешно изменен!</h3>
</div>

<hr />

<div>
    @Html.ActionLink("Назад на Главную", "Index", "Home")
</div>