@{
    ViewBag.Title = "Окончание регистрации";
}

<div class="text-success">
    <h3>Вы были успешно зарегистрированы!</h3>
</div>

<hr/>

<div>
    @Html.ActionLink("Войти", "Login", "Account")
</div>
